.container {
  display: flex;

  padding: 30px 40px 0;
}
.button {
  font-size: 18px;
  padding: 10px 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #b0c9f8;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(44, 13, 180);
  color: #b0c9f8;
}
.info {
  margin-left: 30px;
  box-shadow: 2px 2px 2px 1px rgba(15, 4, 109, 0.2);
  padding: 5px;
}
.movie_title {
  font-size: 36px;
  color: rgb(3, 3, 102);
}
.movie_score {
  font-size: 26px;
}
.movie_overview_title,
.info_title,
.movie_genres_title {
  font-size: 28px;
}
.movie_overview,
.movie_genres {
  font-size: 22px;
}
.cast,
.review {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.cast_narrow {
  font-size: 28px;
  color: #17067c;
}
.container2 {
  padding: 20px;
  width: 1453px;
  margin: 15px 370px;
  box-shadow: 2px 2px 2px 1px rgba(15, 4, 109, 0.2);
}
.info_title {
  color: #17067c;
  font-size: 36px;
}
