.nav_list {
  list-style: none;
  display: flex;
  box-shadow: 2px 2px 2px 1px rgba(15, 4, 109, 0.2);
  padding: 15px;
  justify-content: center;
}
.nav_item {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 70px;
  font-size: 32px;
  color: rgb(15, 3, 124);
  font-family: Geneva, Arial, Helvetica, sans-serif;
}
.active {
  color: rgb(7, 129, 160);
}
.nav_item:hover {
  text-decoration: underline;
}
