.search_input {
  padding: 5px 30px;
  font-size: 24px;
}
.button {
  font-size: 18px;
  padding: 12px 30px;
  margin-left: 20px;
  border-radius: 5px;
  border: none;
  background-color: #b0c9f8;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(44, 13, 180);
  color: #b0c9f8;
}
